@using RazorLight
@inherits TemplatePage<Api.Misc.EmailModel>

<h1>Password reset</h1>
<h3>Hi @Model.User.UserName!</h3>
<p>
    To reset your password we need you to enter the code show below.
</p>
<pre>@Model.CodeOrLink</pre>
